/* stijl.css - labo 3, donut (reset.css is linked before this file) */


body {
    margin: 0;
}

main {
    width: 90vh;
    height: 90vh;
    margin: 5vh auto;
    background-color: #ec4b03;
    border: 0.75rem solid black;
    box-sizing: border-box;
    overflow: hidden;
    
}

main div {
    width: 70%;
    height: 70%;
    margin: 15%;
    background-color: #b99ec1;
    border: 0.75rem solid black;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    
}

h1 {
    width: 90%;
    height: 90%;
    margin: -7%;
    background-color: #f9b700;
    border: 0.75rem solid black;
    box-sizing: border-box;
    font-family: Georgia, serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 10rem;
}


}
